@import './components/hero.css';
@import './components/navigation.css';
@import './components/pukpuk.css';

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-light: #f3f3f3;
  --color-gray: #e0e0e0;
  --color-gray-dark: #2a2a2a;
  --color-pink: #ff0099;
  --color-neon: #ccff00;
  --color-cyan: #00ffff;
  --color-yellow: #ffff00;
  --color-paper: #eaddcf;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-gray-light);
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  color: var(--color-black);
}

body.locked {
  overflow-y: hidden;
}

.font-brutal {
  font-family: 'Arial Black', 'Impact', sans-serif;
  letter-spacing: -0.05em;
}

.font-mono {
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}